<section class="add">
    <fieldset>
        <legend>Add Task</legend>
        <div fxlayout="column">
            <button mat-fab color="accent" (click)="cancel()">
                <mat-icon>arrow_back</mat-icon>
            </button>
        </div>
        <form [formGroup]="formGroup" fxLayout="column" fxFlex="40%" (ngSubmit)="saveList()">
            <div>
                <mat-form-field>
                    <input matInput formControlName="title" placeholder="Task Title">
                </mat-form-field>
            </div>
            <div *ngIf="title.invalid && title.touched">
                <div *ngIf="title.errors.required">
                    Title is required
                </div>
            </div>
            <div>
                <mat-form-field>
                    <textarea matInput formControlName="description" placeholder="description"></textarea>
                </mat-form-field>
            </div>
            <div *ngIf="description.invalid && description.touched">
                <div *ngIf="description.errors.required">
                    Description is required
                </div>
            </div>
            <br>
            <div fxLayout="row">
                <button mat-raised-button color="primary" [disabled]="!formGroup.valid">
                    Save
                </button>
            </div>
        </form>
    </fieldset>
</section>