<section class="todo">
    <!--  show todo list div -->
    <div *ngIf="!isAddCall">
        <fieldset>
            <legend>Add Task</legend>
            <div fxlayout="column">
                <button mat-fab color="accent" (click)="addToList()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </fieldset>

        <div>
            <mat-table *ngIf="!detail" #table [dataSource]="dataSource">

                <ng-container matColumnDef="sequence">
                    <mat-header-cell *matHeaderCellDef>Sequence</mat-header-cell>
                    <mat-cell *matCellDef="let student; let i = index;">{{i+1}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="title">
                    <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
                    <mat-cell *matCellDef="let student">{{student.title}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef>description</mat-header-cell>
                    <mat-cell *matCellDef="let student">{{student.description}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="date">
                    <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
                    <mat-cell *matCellDef="let student">{{student.date}}</mat-cell>
                </ng-container>

                <!-- row action Column -->
                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
                    <mat-cell *matCellDef="let student; let i = index;">
                        <button mat-button color="primary" (click)= "editList(i, student)" >Edit</button>
                        <button mat-button color="warn" (click)= "deleteById(i)">Delete</button>

                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns; let i = index;"></mat-row>
            </mat-table>
        </div>
    </div>

    <!-- add todo list div -->
    <div *ngIf="isAddCall">
        <app-todo-add (change)="viewAction($event)" [taskToEdit]="taskToEdit"></app-todo-add>
    </div>
</section>